@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {     
    padding: 0px;
    font-family: "Inter";
    font-weight: 800;
    font-size: 18px;
    margin: 0 30px;
}

:root {
    --colorne: #000000;
    --colorroj: #ff0000;
    --colorpl: #5e605d;
    --colorb: #ffffff;
    --colortrans: #00000000;
    --colorce: #00bef8;
}

::placeholder {
    color: var(--colorce);
}

::selection {
    color: var(--colorce);
}

h1 {
    font-size: 40px;
    color: var(--colorne);
    text-align: center;
}

h2 {
    font-size: 30px;
    color: var(--colorne);
}

h3 {
    font-size: 20px;
    color: var(--colorne);
}

h4 {
    font-size: 15px;
    color: var(--colorne);
}

h5 {
    font-size: 28px;
    color: var(--colorne);
}

h6 {
    font-size: 28px;
    color: var(--colorne);
}

header {
    background-color: var(--colorroj);
}

.menunav, .menunav2 {
    max-width: 1140px;
    height: 80px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
}

.logotipo1, .logotipo2 {
    width: 100%;
    height: 150%;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 70px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    font-family: "Inter";
}

.nav-list {
    list-style: none;
    font-family: "Inter";
}

.nav-li a {
    text-decoration: none;
    color: var(--colorblanco);
    font-size: 18px;
    font-weight: bold;
    font-family: "Inter";
}

.abrir-menu, .cerrar-menu, .logotipo2 {
    display: none;
}

.bt-contacto button {
    text-decoration: none;
    color: var(--colorne);
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    border: solid 3px var(--colorb);
    padding: 6px;
    background-color: var(--colorb);
    font-family: "Inter";
}

.bt-contacto button:hover {
    color: var(--colorne);
    background-color: var(--colorb);
    font-family: "Inter";
}

/*PORTADAAAAAAAAAAAAAAAAAAAAAAA*/

.portada {
    max-width: 1140px;
    margin: 0 auto;
    padding: 10px 0;
    color: var(--colorb);
    margin: 0 30px;
}

.portada {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.p-texto h1, .p-texto h3 {
    text-align: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.formulario input {
    width: 80%;
    padding: 10px;
    color: var(--colorne);
    border: var(--colortrans);
    background-color: var(--colorroj);
}

.formulario .bt-enviar {
    color: var(--colorb);
    background-color: var(--colorroj);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px;
    width: 20%;
}

.p-imagen {
    display: grid;
    align-items: center;
}

.p-imagen img {
    width: 100%;
}

/*BENEFICIOOOOOOOOOOOOOS*/

.beneficios {
    padding: 50px;
    color: var(--colorb);
}


.beneficios {
    display: grid;
    gap: 50px
}

.beneficios h1 {
    display: grid;
    gap: 50px
}

.subtema {
    display: grid;
    padding: 50px;
    grid-template-columns: 1fr 1fr 1fr;
}

.p-texto2 {
    background-color: var(--colorb);
    border: solid 5px var(--colorroj);
    padding: 30px;
    padding-left: 35px;
    border-radius: 70px;
}

.p-texto2 h3 {
    text-align: center;
}

.p-texto2 h4 {
    text-align: center;
    font-weight: 530;
}

.titulo {
    max-width: 1140px;
    margin: 0 auto;
    background-color: var(--colorroj);
    align-content: center;
}

.titulo h2 {
    color: var(--colorne);
    margin: 20px;
    display: center;
    align-content: center;
    font-weight: 500;
}

.productos {
    max-width: 1140px;
    margin: 0 auto;
    padding: 5px 0;
    color: var(--colorb);
}

.productos {
    display: grid;
    gap: 50px;

}

.titulo2 {
    max-width: 1140px;
    margin: 0 auto;
    background-color: var(--colortrans);
    align-content: center;
}

.titulo2 h2 {
    max-width: 1140px;
    color: var(--colorne);
    margin: 10px;
    display: center;
    align-content: center;
    font-weight: 800;
    font-size: 40px;
}

.imgdegamas{
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
    padding: 5px 0;
    grid-template-columns: 1fr 1fr;
}

.p-imagen2 {
    background-color: var(--colortrans);
    border: solid 20px var(--colortrans);
    padding: 0px;
}

.p-imagen2 img {
    width: 50%;
    justify-items: center;
    margin-left: 25%;
}

.p-texto3 h3 {
    text-align: center;
    font-weight: 800;
    text-decoration: underline;
}

.contactos {
    max-width: 1140px;
    margin: 0 auto;
    padding: 50px;
    color: var(--colorb);
    grid-template-columns: 1fr 1fr;
    padding-left: 15%;
}

.contactos {
    display: grid;
    gap: 50px;
}

.canales {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.p-imagen3 img {
    width: 50px;
    height: 50px;
    justify-items: center;
}

.formulario2 {
    flex-direction: column;
    gap: 20px;
}

.formulario2 input {
    width: 80%;
    padding: 10px;
    color: var(--colorpl);
    border: solid 3px var(--colorroj);
    background-color: var(--colorb);
}

.formulario2 .bt-enviar2 {
    color: var(--colorb);
    background-color: var(--colorroj);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px;
    width: 25%;
}

.titulo3 h3 {
    color: var(--colorroj);
    font-weight: 800;
}





* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter";
    font-size: 16px;
    
}

button {
    cursor: pointer;
    padding: 10px 25px;
    border: none;
    border-radius: 50px;
    font-weight: 600;
    font-size: 1.25rem;
    background-color: transparent;
}

.btn1 {
    border: 2px solid var(--colorBlanco);
    background-color: var(--colorBlanco);
    color: var(--colorn);
}

.btn1:hover {
    background-color: transparent;
    color: var(--colorBlanco);
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 50px;
}

/*EQUIPOOOOOOOOOOOOOOOOOO*/

.equipo {
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}


.p-texto6 h2 {
    color: var(--colorvos);
    text-align: center;
    padding: 25px;
}

.p-texto6 p {
    text-align: center;
}


div.p-imagen6 img {
    width: 100%;
    height: auto;
    border-radius: 213px;
}

div.ptexto7 {
    text-align: center;
    color: var(--colorvos);
}

.ptexto7 p {
    font-weight: 900;
    font-size:large; 
}







/*estilo a mi navegación*/

/*color de mi menu de navegación*/
header {
 background-color: var(--colorroj);
}

/*dar estilo al menu de navegación*/
.menunav, .menunav2 {
    height: 90px;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}


/*tamaño de mi logo*/
.logotipo1, .logotipo2 {
    height: 100%;
    width: 80%;
}

.menu {
    display: flex;
    align-items: center;
}

/*alinear mi lista y el boton de forma horizontal*/
.nav {
    display: flex;
    gap: 50px;
}

/*quitar los puntos y alinear horizontal mis opciones*/
.nav-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 50px;
}

/*quitar subrayado, cambiar el color y tamaño del texto*/
.nav-list li a {
    text-decoration: none;
    color: var(--colorb);
    font-size: 20px;
}


.abrir-menu, .cerrar-menu, .logotipo2 {
    display: none;
}

.portada {
    display: flex;
    gap: 50px;
    background-color: var(--colorprimario);
    padding: 50px;
    gap: 10px;
}

.p-texto {
    width: 100%;
    background-color: var(--colorprimario);
    color: var(--colornegro);
    text-align: center;
}

.subtema {
    display: flex;
    background-color: var(--colorprimario);
    padding: 50px;
    gap: 10px;
}


.p-texto1 {
    width: 100%;
    background-color: var(--colorprimario);
    color: var(--colornegro);
    text-align: center;
}

.contactos {
    display: flex;
    gap: 50px;
    background-color: var(--colorprimario);
    padding: 50px;
    gap: 16.5%;
}

.productos {
    background: #fff;
    
}

.container-fluid {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    gap: 50px;
    padding: 50px;


}


.productos .titlepage {
    text-align: center;
    padding-bottom: 60px;
    padding: 50px;
}

.productos .titlepage p {
    font-size: 17px;
    line-height: 30px;
    font-weight: 400;
    padding-top: 10px;
    color: #000000;
}

.blu {
    color: var(--colorroj);
    text-transform: initial;
}

.productos .productos_box {
    display: 1fr 1fr 1fr;
    align-items: center;
}

.productos .productos_box {
    text-align: center;
    border: var(--colorroj) solid 3px;
    border-radius: 53px;
    padding: 120px 0px 30px 0px;
    margin-bottom: 30px;
}

.productos .productos_box figure {
    margin: 0;
}

.productos .productos_box h3 {
    color: #100d0d;
    font-size: 22px;
    line-height: 20px;
    padding: 70px 0px 9px 0px;
}

.productos .productos_box p {
    color: #2a2a2c;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}




/*vista mobile*/
@media (max-width: 767px) {
    
    /*estilo a mi navegación*/
    .container {
        margin: 0 30px;
        padding: 10px 0;
    }

    .menunav {
        padding: 20px 0;
    }
    

    .menunav2 {
        width: 100%;
        padding: 20px 30px;
    }
    
    /*mostrar el logotipo, el icono de abrir y cerrar*/
    .abrir-menu, .cerrar-menu, .logotipo2 {
        display: block;
        padding: 0;
    }
    
    /*cambiar el tamaño y el color de los iconos*/
    .bi {
        font-size: 2rem;
        color: var(--colorb);
        
    }

    /*ocultar menu*/
    .menu {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: start;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        background-color: var(--colorroj);
    }

    /*mostrar menu*/
    .menu.visible {
        opacity: 1;
        visibility: visible;
    }
    

    /*cambiar la alineación de horizontal a vertical de lista y boton*/
    .nav {
        width: 100%;
        padding: 50px 30px;
        flex-direction: column;
    }
    
    /*cambiar la alineación de horizontal a vertical de las opciones*/
    .nav-list {
        flex-direction: column;
        align-items: start;
        gap: 30px;
    }

    .portada {
        flex-direction: column;
        padding: 15px;
        align-items: center;
    }

    .formulario {
        display: flex;
        flex-direction: column;
        gap: 25px;
        align-items: center;
    }

    .formulario .bt-enviar {
        width: 50%;
    }

    .subtema {
        flex-direction: column;
        padding: 15px;
        align-items: center;
    }

    .titulo {
        max-width: 1140px;
        margin: 0 auto;
        background-color: var(--colorroj);
        align-content: center;
    }
    
    .titulo h2, .titulo2 h2 {
        text-align: center;
        font-size: 20px;
    }

    .titulo3 h3 {
        text-align: center;
        font-size: 20px;
        align-items: center;
    }

    .titulo3 h4 {
        text-align: center;
        align-items: center;
    }

    .contactos {
        flex-direction: column;
        align-items: center;
        gap: 25px;
        padding-top: 20%;
    }

    .formulario2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: stretch;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .formulario2 h2 {
        display: flex;
        flex-direction: column;
        gap: 25px;
        align-items: center;
    }

    
    .formulario2 .bt-enviar2 {
        width: 50%;
    }
    
    .formulario2 input {
        width: 80%;
        padding: 5px;
    }
    
    .input-1, .input-2 {
        display: flex;
        gap: 10px;
    }
    
    .input-1 label, .input-2 label {
        color: var(--colornegro);
    }

    .p-imagen3 {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        gap: 5px;
    }



    .canales {
        display: flex;
        flex-direction: column;
        gap: 25px;
        align-items: center;
    }

    .equipo {
        padding: 50px;
        display: flex;
        gap: 25px;
        flex-direction: column;
        
    }

    .imgdegamas {
        max-width: 1140px;
        margin: 0 auto;
        display: grid;
        padding: 5px 0;
        grid-template-columns: auto;
    }

    .container-fluid {
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 50px;
        flex-wrap: wrap;
        align-items: center;
    
    
    }

    .productos {
        align-items: center;
    
    
    }
    














}